<section>
<h2>Editar usuário</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :user_type, :as => :select, :collection => [current_user.user_type], :label => "Eu sou", :include_blank => false, :disabled => true %>
  <%= f.input :email, :required => true, :disabled => true %>
  <%= f.input :name, :required => false, :auto_focus => true %>
  <%= f.input :password, :hint => " Deixe em branco se não deseja alterar", :required => false, :label => "Nova senha" %>
  <%= f.input :password_confirmation, :required => false, :label => "Confirme sua nova senha" %>
  <%= f.input :current_password, :required => true, :label => "Senha atual" %>
  <%= f.button :submit, "Salvar alterações", :class => "btn medium" %>
<% end %>

<%= link_to "Voltar", :back, :class => "btn small" %>
</section>
