<section class="login_form well" >

  <h2>Esqueceu sua senha</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :email, :required => true %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Envie-me instruções de como recuperar a senha" %>
    </div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</section>
