<div id="navigation">
  <ul class="tabs">
    <li><%= menu_link_to "Home", root_path %></li>
    <li><%= menu_link_to "OAs", learning_objects_path %></li>
    <li><%= menu_link_to "Fractals", fractals_path %></li>
    <li><a href="#">Configurações</a></li>
    <% if user_signed_in? %>
      <li><%= menu_link_to "Editar perfil", edit_user_registration_path(current_user) %></li>
      <li><%= menu_link_to "Minhas turmas", learning_groups_path %></li>
    <% end %>
    <li><a href="#">Sobre</a></li>
    <% if user_signed_in? %>
      <p class="right"> <%= current_user.email %> <%= link_to 'Sair', destroy_user_session_path, :method => "delete", :class => "btn medium" %> </p>
    <% end %>
  </ul>
</div>

