<section class="errors">
  <header>
    <h2 id="">Respostas Erradas do OA <%= @lo.name  %></h2>
  </header>
  <table id="errors_table" class="table table-bordered table-striped tablesorter">
    <thead>
      <tr>
	<th>Data e Hora</th>
        <th>Exercício</th>
        <th>Questão</th>
        <th>Iteração</th>
        <th>Sua Resposta</th>
        <th>Resposta Correta</th>
      </tr>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td><%= l(error.created_at, format: :long) %></td>
          <td><%= error.exercise.title %></td>
          <td><%= error.question.title %></td>
          <td><%= error.correct_answer.iteration %></td>
          <td><%= error.response %></td>
          <td><%= error.correct_answer.response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
