<div id="fractal-form">
  <%= simple_form_for @fractal do |f| %>
    <div class="inline">
      <%= f.input :name %>
      <%= f.input :axiom %>
    </div>
    <div class="inline">
      <%= f.input :rules, :placeholder  => "F=F-G+F+G-F", :hint => "Preencha as regras separadas por ',' ",
        label_html: {class: 'clear' } %>
      <%= f.input :angle %>
      <%= f.input :constant %>
    </div>
      <%= f.button :submit, :class => 'btn btn-primary' %>
  <% end %>
</div>

<article  id="fractal_preview">
  <h3> Prévia do Fractal </h3>
  <ul class="thumbnails" data-fractal="<%= @fractal.to_json %>" ></ul>
</article>
