<tr>
  <td> <%= link_to fractal.name, fractal %> </td>
  <td class="fractal" data-fractal="<%= fractal.to_json %>"</td>
  <td> <%= creator(fractal.user) %> </td>
  <% if can? :manage, Fractal %>
    <td class="list-actions">
      <ul>
        <li><%= link_to 'Visualizar', fractal_path(fractal) %></li>
        <li><%= edit_link fractal, 'Editar' %></li>
        <li><%= destroy_link fractal, 'Deletar' %></li>
      </ul>
    </td>
  <% end %>
</tr>
