<section>
  <header>
    <h1 class="left"> Fractais </h1>
    <p class="right">
      <%= link_to 'Criar novo Fractal', new_fractal_path, :class => "btn large" %>
    </p>
  </header>

  <table class="zebra-striped bordered-table" id="fractal-index">
    <thead>
      <tr>
        <th>Figura</th>
        <th>Fractal</th>
        <th class="center">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @fractals.each do |fractal| %>
        <tr>
          <td class="fractal" data-fractal="<%= fractal.to_json %>"</td>
          <td><%= fractal.name %></td>
          <td class="list-actions">
            <ul>
              <li><%= link_to 'Visualizar', fractal_path(fractal) %></li>
              <li><%= link_to 'Editar', edit_fractal_path(fractal) %></li>
              <li><%= link_to 'Deletar', fractal, confirm: 'Tem certeza?', method: :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
