<section>
  <header>
    <h1 class="left"> Fractal: <%= @fractal.name %> </h1>

    <div class="btn-group right">
      <a href="#" id="next_it" class="btn">Próxima Iteração</a>
      <a data-toggle="modal" href="#details" class="btn" >Detalhes</a>
      <%= link_to 'Editar', edit_fractal_path(@fractal), class: "btn"  %>
      <%= link_to 'Voltar', :back, :class => "btn" %>
    </div>

  </header>

  <article id="fractal_preview" data-fractal="<%= @fractal.to_json %>" >
    <ul class="thumbnails"></ul>
  </article>

</section>

<div class="modal hide fade in" id="details">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Detalhes do Fractal</h3>
  </div>
  <div class="modal-body">
    <p><strong>Nome: </strong><%= @fractal.name %></p>
    <p><strong>Ângulo: </strong><%= @fractal.angle %></p>
    <p><strong>Axiom: </strong><%= @fractal.axiom %></p>
    <p><strong>Constantes: </strong><%= @fractal.constant %></p>
    <p><strong>Regras: </strong><%= @fractal.show_rules %></p>
  </div>
</div>
