<section class="exercise" >

  <article>
    <header>
      <h2>  <%= @page.title %> </h2>
    </header>

    <%= markdown @page.enunciation %>
  </article>

  <% if controller.action_name != 'preview' %>
    <div class="clearfix">
      <div class="right">
        <%= link_to "Limpar Respostas do Exercício", destroy_last_answers_published_fractal_path(@page, @lo), class: "btn btn-danger btn-mini", confirm: 'Tem certeza?', method: :delete %>
      </div>
    </div>
  <% end %>

  <table id="exercise_table" class="table table-bordered" data-fractal="<%= @page.fractal.to_json %>"
    data-questions="<%= @page.tokens.to_json %>" data-id="<%= @page.slug %>"
    data-last-answers="<%= @last_answers.to_json  %>" data-oa-id="<%= @lo.slug %>"
    >
    <thead>
      <tr>
        <th title="Iterações" data-content='Iteração' data-placement="above" rel="popover" >
          Iteração
        </th>
        <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" >
          Fractal <%= @page.fractal.name %>
        </th>
        <% @page.questions.each do |question| %>
        <th data-original-title='<%= question.title %>' data-content='<%= question.enunciation %>'
          data-verify-answer-url='<%= verify_url(@lo, @page, question, @save) %>'
          data-placement="top" rel="popover" >
           <%= question.title %>
        </th>
      <%end%>
    </tr>
    </thead>
    <tbody id='abody'>
    </tbody>
  </table>

  <div id="dialog-calc"> <%= render "/calculator/calc" %> </div>
</section>
