<section id="group_form">

  <div class="left">
    <%= simple_form_for @learning_group do |f| %>
      <div class="inline">
        <%= f.input :name %>
        <%= f.input :code %>
        <%= f.button :submit, "Salvar", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="btn-toolbar">

    <div class="btn-group">
      <% unless @learning_group.new_record? %>
        <%= link_to 'Visualizar', learning_group_path(@learning_group),
          :class => "btn" %>
      <% end %>
      <%= link_to 'Ver todos', learning_groups_path, :class => "btn" %>
      <%= link_to 'Voltar', :back, :class => "btn" %>
    </div>

  </div>
</section>
