<section id="group_form">

  <div class="left">
    <%= simple_form_for @learning_group do |f| %>
      <div class="inline">
        <%= f.input :name %>
        <%= f.input :code %>
        <%= f.input :learning_object_tokens,
          input_html: {"data-pre" => @learning_group.learning_objects.map(&:token_inputs).to_json} %>
        <%= f.button :submit, "Salvar", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
