<section>
  <header class="clearfix">
    <h1 class="left">Turmas que criei</h1>
    <div class="btn-group right">
      <%= link_to 'Nova turma', new_learning_group_path, :class => "btn"%>
      <%= link_to 'Todos as turmas', all_groups_learning_groups_path, class: 'btn' %>
    </div>
  </header>
  <article>

    <table class="table table-bordered table-striped" id="learning_objects">
      <tr>
        <th>Nome da turma</th>
        <th>Código</th>
        <th>Opções</th>
      </tr>

      <% @learning_groups.each do |learning_group| %>
        <tr>
          <td><%= learning_group.name %></td>
          <td><%= learning_group.code %></td>
          <td class="list-actions">
            <ul>
              <li><%= link_to 'Visualizar', learning_group %></li>
              <li><%= link_to 'Editar', edit_learning_group_path(learning_group) %></li>
              <li><%= link_to 'Deletar', learning_group, confirm: 'Tem certeza?', method: :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </article>
</section>

<section>
  <header class="clearfix">
    <h1 class="left">Turmas que estou está matriculado </h1>
  </header>

  <article>

    <table class="table table-bordered table-striped" id="learning_objects">
      <tr>
        <th>Nome da turma</th>
        <th>Professor</th>
      </tr>

      <% @my_groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, my_group_learning_group_path(group) %></td>
          <td><%= creator(group.owner) %></td>
        </tr>
      <% end %>
    </table>
  </article>
</section>
