<header>
  <h1 class="left">Todas as suas turmas</h1>
  <p class="right">
    <%= link_to 'Criar nova turma', new_learning_group_path, :class => "btn large"%>
  </p>
</header>
<table class="zebra-striped bordered-table" id="learning_objects">
  <tr>
    <th>Nome da turma</th>
    <% if current_user.is_teacher? %>
      <th> Código </th>
    <% end %>
    <th></th>
  </tr>

<% @learning_groups.each do |learning_group| %>
  <tr>
    <td><%= learning_group.name %></td>
    <% if current_user.is_teacher? %>
      <td><%= learning_group.code %></td>
    <% end %>
    <td class="list-actions">
      <ul>
        <li><%= link_to 'Visualizar', learning_group %></li>
        <% if can? :manage, LearningGroup %>
          <li><%= link_to 'Editar', edit_learning_group_path(learning_group) %></li>
          <li><%= link_to 'Deletar', learning_group, confirm: 'Tem certeza?', method: :delete %></li>
        <% end %>
        <% if !current_user.is_teacher? %>
          <li><%= link_to 'Matricular-se',  learning_group_matriculate_path(learning_group) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</table>

