<section>
  <header class="clearfix" >
    <h1 class="left"> Turma: <%= @learning_group.name %> </h1>

    <div class="btn-group right">
      <%= link_to 'Editar', edit_learning_group_path(@fractal), class: "btn"  %>
      <%= link_to 'Ver todos', learning_groups_path, :class => "btn" %>
      <%= link_to 'Voltar', :back, :class => "btn" %>
    </div>
  </header>

  <article>
    <header>
        <h2> Objetos de Aprendizagem Cadastrados</h2>
    </header>

    <section>
      <ul class="thumbnails small-thumbnails">
        <% @learning_objects.each do |lo| %>
          <li class="span2">
            <% link = capture do %>
              <div class="thumbnail">
                <h4><%= lo.name %></h4>
              </div>
            <% end %>
            <%= link_to link, published_fractal_path(lo) %>
          </li>
        <% end %>
      </ul>
    </section>
  </article>

  <article>
    <header>
        <h2> Alunos Matriculados</h2>
    </header>

    <table class="table table-bordered table-striped" id="learning_objects">
      <tr>
        <th>Mais Iformações</th>
        <th>Aprendiz</th>
        <th>Email</th>
        <th class="gravatar">Gravatar</th>
      </tr>

      <% @learning_group.users.each do |user| %>
        <tr>
          <td><%= link_to 'Detalhes',  user_learning_group_path(@learning_group, user)  %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td class="gravatar">
            <%= gravatar_image_tag(user.email, :alt => "#{user.name}", gravatar: { size: 30 })   %>
          </td>
        </tr>
      <% end %>
    </table>

  </article>

</section>
