<%= simple_form_for [@learning_object, @exercise] do |f| %>
  <%= f.input :title %>
  <%= f.ckeditor :enunciation %>
  <div class="field-with-link" >
    <%= f.input :fractal do %>
      <%= f.select :fractal, Fractal.all.map { |frac| [frac.name, frac.slug] },
        :prompt => true, :selected => @exercise.fractal.slug %>
    <% end %>
    <%= link_to "Criar novo Fractal", new_fractal_path %>
  </div>
  <div data-fractal="<%= @exercise.fractal.to_json %>">
    <% if @exercise.fractal_exercise != nil %>
      <div class="rules" value='<%= @exercise.fractal.rules %>'> </div>
      <%= f.fields_for @exercise.fractal_exercise do |builder| %>
        <%= render "fractal_fields", :f => builder %>
      <% end %>
    <% end %>
  </div>

  <br \>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
