<%= simple_form_for [@learning_object, @exercise] do |f| %>
  <%= f.input :title %>
  <div class="field-with-link">
    <%= f.input :fractal_exercise do %>
      <%= f.select :fractal_exercise, Fractal.all.map { |frac| [frac.name, frac.slug] },
        :prompt => true, :selected => @exercise.fractal.slug %>
    <% end %>
    <%= link_to "Criar novo Fractal", new_fractal_path %>
    <%= @exercise.fractal_exercise.slug %>
  </div>
  <%= f.input :enunciation, :as => :text %>
  <%= f.button :submit %>
<% end %>
