<section id="fractal-exercise">
<div class="inline">
  <%= f.input :name %>
  <%= f.input :angle %>
  <%= f.input :iterations %>
  <%= f.input :width %>
  <%= f.input :height %>
</div>
<div class="inline">
<%= f.input :axiom %>
<%= f.input :rules %>
<%= f.input :constant %>
<%= f.input :infinite, :label => "Infinito", :as => :radio %>
</div>

<div id="fractal_preview">
  <h3> Prévia do Fractal</h2>
  <table>
    <tr>
      <th>Iteração 0</th>
      <th>Iteração 1</th>
      <th>Iteração 2</th>
    </tr>
  </table>
</div>

</section>
