<section id="fractal-exercise">
  <div class="inline">
    <%= f.input :name %>
    <%= f.input :angle %>
    <%= f.input :iterations %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.input :infinite, :label => "Infinito", :as => :radio %>
  </div>
  <div class="inline">
    <%= f.input :axiom %>
    <%= f.input :rules %>
    <%= f.input :constant %>
  </div>

  <article  id="fractal_preview">
    <h3> Prévia do Fractal </h3>
    <ul class="thumbnails" data-fractal="<%= @fractal.to_json %>" ></ul>
  </article>

</section>
