<h2>Novo Exercício </h2>
<%= simple_form_for [@learning_object, @exercise] do |f| %>
  <%= f.input :title %>
  <%= f.input :fractal, :collection => Fractal.all, :prompt => true %>
  <%= f.input :enunciation, :as => :text %>
  <%= f.button :submit %>
<% end %>
