<h1>Exercise <strong> <%= @exercise.title %> </strong> </h1>

<div>
  <%= on_the_spot_edit @exercise, :title -%>
</div>

<h2>New Question</h2>
<%= form_for [@learning_object, @exercise, Question.new] do |f| %>
  <p><%= f.label :title %> <%= f.text_field :title %></p>
  <p><%= f.label :enunciation %> </p><p> <%= f.text_area :enunciation, :rows => 10 %></p>
  <p><%= f.submit %></p>
<% end %>

<div id='div_table_exercise', data-iterations='<%= @exercise.iterations %>' data-axiom='<%= @exercise.axiom %>'
  data-questions='<%= @exercise.questions.size %>' >

 <table class="bordered-table" >
   <tr>
     <th title="Iteração" data-content='Iteração' data-placement="above" rel="popover" >Iteration</th>
     <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" >Fractal</th>
     <% @exercise.questions.each do |question| %>
       <th title='<%= question.title %>' data-content='<%= question.enunciation %>' data-placement="above" rel="popover">
         <%= question.title %>
       </th>
     <%end%>
   </tr>
 </table>
</div>

