<section class="exercise" >
  <header>
    <h1> Exercício </h1>
  </header>

  <article>
    <header>
      <h2>  <%= @exercise.title %> </h2>
    </header>

    <%= markdown @exercise.enunciation %>

  </article>

  <div class="right">
    <%= link_to "Ordenar Questões",
      learning_object_exercise_show_questions_path(@learning_object, @exercise),
      :class => "btn large"%>
    <%= link_to "Criar Questão",
      new_learning_object_exercise_question_path(@learning_object, @exercise),
      :class => "btn large"%>
  </div>

  <table id="exercise_table" class="bordered-table" data-fractal="<%= @fractal.to_json %>"
    data-questions="<%= @questions.to_json %>" data-id="<%= @exercise.slug %>"
    fractal-update-url= "<%= update_fractal_size_learning_object_exercises_url %>"
    data-oa-id="<%= @learning_object.slug %>"
    >
    <thead>
      <tr>
        <th title="Iterações" data-content='Iteração' data-placement="above" rel="popover" >
          Número de Iterações: <%= @fractal.iterations %>
        </th>
        <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" >
          Fractal: <%= @fractal.name %>
        </th>
        <% @questions.each do |question| %>
        <th title='<%= question.title %>' data-content='<%= question.enunciation %>' 
          data-validate-url='<%= learning_object_exercise_question_validate_url(@learning_object, @exercise, question) %>' data-placement="above" rel="popover" >
          <%= link_to question.title, edit_learning_object_exercise_question_path(@learning_object, @exercise, question) %>
        </th>
        <%end%>
      </tr>
    </thead>
    <tbody id='abody'>
    </tbody>
  </table>

  <div id="dialog-calc" > <%= render "calculator" %> </div>

</section>
