<section class="exercise" >
  <header>
    <h1> Exercício </h1>
  </header>

  <article>
    <header>
      <h2 class="center"> <%= on_the_spot_edit @exercise, :title  %> </h2>
    </header>

    <p>
      <%= on_the_spot_edit @exercise, :enunciation, type: :textarea %>
    </p>
  </article>

  <table id="exercise_table" class="bordered-table" data-fractal="<%= @exercise.fractal.to_json %>"
         data-questions="<%= @exercise.questions.to_json %>"
         data-fractal-update-url= "<%= update_size_fractals_url %>"
         >
    <thead>
      <tr>
        <th title="Iteração" data-content='Iteração' data-placement="above" rel="popover" >Iteração</th>
        <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" >
          <span class="title"> Fractal </span> <%= on_the_spot_edit @exercise, :fractal_id, :type => :select,
                      :data => @fractals,  :callback => 'fractalCallback' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.questions.each do |question| %>
        <tr>
          <td title='<%= question.title %>' data-content='<%= question.enunciation %>'
              data-placement="above" rel="popover">
              <%= question.title %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

</section>
