<section class="exercise" >
  <header class="clearfix">
    <h1 class="left"> Exercício </h1>
    <div class="right">
      <div class="btn-group">
        <%= link_to 'Editar',
          edit_learning_object_exercise_path(@learning_object, @exercise), :class => "btn"%>
        <%= link_to "Ordenar Questões",
          learning_object_exercise_show_questions_path(@learning_object, @exercise), :class => "btn"%>
        <%= link_to "Criar Questão",
          new_learning_object_exercise_question_path(@learning_object, @exercise), :class => "btn"%>
      </div>
    </div>
  </header>

  <section>
    <header>
      <h2>  <%= @exercise.title %> </h2>
    </header>
    <br />

    <%= raw @exercise.enunciation %>
  </section>

  <article>

    <table id="exercise_table" class="table table-bordered" data-fractal="<%= @fractal.to_json %>"
      data-questions="<%= @exercise.tokens.to_json %>" data-id="<%= @exercise.slug %>"
      fractal-update-url= "<%= update_fractal_size_learning_object_exercises_url %>"
      data-oa-id="<%= @learning_object.slug %>" >
      <thead>
        <tr>
          <th>
            Número de Iterações: <%= @fractal.iterations %>
          </th>
          <th>Fractal: <%= @fractal.name %></th>
        <% @questions.each do |question| %>
          <th data-original-title='<%= question.title %>' data-content='<%= question.enunciation %>'
            data-verify-answer-url='<%= learning_object_exercise_question_verify_answer_path(@learning_object,
                                                                                             @exercise,
                                                                                             question) %>'
            data-placement="top" rel="popover" >
            <p>
              <%= question.title %>
            </p>
            <%= link_to "Editar",
              edit_learning_object_exercise_question_path(@learning_object, @exercise, question) %>
            |
            <%= link_to 'Remover',
              [@learning_object, @exercise, question], confirm: 'Tem certeza?', method: :delete %>
            </th>
          <%end%>
        </tr>
      </thead>
      <tbody id='abody'>
      </tbody>
    </table>
  </article>

  <div id="dialog-calc"> <%= render "/calculator/calc" %> </div>
</section>
