<section class="exercise" >
  <header>
    <h1> Exercício </h1>
  </header>

  <article>
    <header>
      <h2> <%= best_in_place @exercise, :title,
                              :path => [@learning_object, @exercise], class: 'inline_key' %> </h2>
    </header>

    <div class="do_hover">
      <%= best_in_place @exercise, :enunciation, display_as: :markdown_desc,
                                   type: :textarea, path: [@learning_object, @exercise]  %>
    </div>

  </article>

  <div class="right">
    <%= link_to "Criar Questão",
      new_learning_object_exercise_question_path(@learning_object, @exercise),
      :class => "btn large"%>
  </div>

  <table id="exercise_table" class="bordered-table" data-fractal="<%= @fractal.to_json %>"
    data-questions="<%= @exercise.questions.to_json %>" data-exercise-id="<%= @exercise.slug %>"
    data-fractal-update-url= "<%= update_fractal_size_learning_object_exercises_url %>"
    data-oa-id="<%= @learning_object.slug %>"
    >
    <thead>
      <tr>
        <th title="Iterações" data-content='Iteração' data-placement="above" rel="popover" >
          Iteração:
          <%= best_in_place @fractal, :iterations,
              path: [@learning_object, @exercise],
              type: :select, :collection => (1..7).to_a.map{ |e| [e, e.to_s] } %>
        </th>
        <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" >
           Fractal: <%= best_in_place @exercise, :fractal,
              path: [@learning_object, @exercise],
              type: :select, :collection => @fractals %>
        </th>
        <% @exercise.questions.each do |question| %>
          <th title='<%= question.title %>' data-content='<%= question.enunciation %>'
            data-placement="above" rel="popover">
            <%= question.title %>
          </th>
        <%end%>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</section>
