<section class="exercise" >
  <header>
    <h1> Exercício </h1>
  </header>

  <article>
    <header>
      <h2> <%= best_in_place @exercise, :title,
                              :path => [@learning_object, @exercise], class: 'inline_key' %> </h2>
    </header>

    <div class="do_hover">
      <%= best_in_place @exercise, :enunciation, display_as: :markdown_desc,
                                   type: :textarea, path: [@learning_object, @exercise]  %>
    </div>

  </article>

  <div class="right">
    <%= link_to "Criar Questão",
      new_learning_object_exercise_question_path(@learning_object, @exercise),
      :class => "btn large"%>
  </div>

  <table id="exercise_table" class="bordered-table" data-fractal="<%= @exercise.fractal.to_json %>"
         data-questions="<%= @exercise.questions.to_json %>"
         data-fractal-update-url= "<%= update_size_fractals_url %>"
         >
    <thead>
      <tr>
        <th title="Iteração" data-content='Iteração' data-placement="above" rel="popover" >Iteração</th>
        <th title="Fractal" data-content='Fractal' data-placement="above" rel="popover" ></th>
        <% @exercise.questions.each do |question| %>
          <th title='<%= question.title %>' data-content='<%= question.enunciation %>'
            data-placement="above" rel="popover">
            <%= question.title %>
          </th>
        <%end%>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</section>
