<h1>Listing learning_objects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @learning_objects.each do |learning_object| %>
  <tr>
    <td><%= learning_object.name %></td>
    <td><%= learning_object.description %></td>
    <td><%= link_to 'Show', learning_object %></td>
    <td><%= link_to 'Edit', edit_learning_object_path(learning_object) %></td>
    <td><%= link_to 'Destroy', learning_object, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Learning object', new_learning_object_path %>
