<section>
  <header>
    <h1 class="left">Objeto de Aprendizagens </h1>
    <p class="right">
      <%= link_to 'Criar novo Objeto de Aprendizagem', new_learning_object_path, :class => "btn large" %>
    </p>
  </header>

  <table class="zebra-striped bordered-table has_actions" id="learning_objects">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th class="center">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @learning_objects.each do |learning_object| %>
        <tr>
          <td><%= learning_object.name %></td>
          <td><%= learning_object.description %></td>
          <td class="list-actions">
            <ul>
              <li><%= link_to image_tag('detail-icon.png'), learning_object %></li>
              <li><%= link_to image_tag('edit-icon.png'), edit_learning_object_path(learning_object) %></li>
              <li><%= link_to image_tag('delete-icon.png'), learning_object, confirm: 'Are you sure?', method: :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
