<section id="show-learning_object">
  <header>
    <h1>Objeto de Aprendizagem: <em><%= @learning_object.name %> </h1>
  </header>
  <article>
      <div class="do_hover">
        <%= best_in_place @learning_object, :description, :display_as => :markdown_desc, :type => :textarea %>
      </div>
  </article>


  <article>
    <header>
      <h1 class='left'> Exercícios </h1>
      <p class='right'>
        <% if can? :manage, Exercise %>
          <%= link_to 'Criar novo Exercício', new_learning_object_exercise_path(@learning_object), :class => "btn large" %>
        <% end %>
      </p>
    </header>

    <table class="zebra-striped bordered-table">
      <thead>
        <tr>
          <th>Ordene</th>
          <th>Título</th>
          <th>Enunciado</th>
          <th>Fractal</th>
          <th class="center">Opções</th>
        </tr>
      </thead>
      <tbody id="exercises" data-update-url="<%= sort_exercises_learning_objects_url %>">
        <% @exercises.each do |exercise| %>
          <tr id='<%= exercise.id %>' >
            <td class="handle">[DRAG]</td>
            <td><%= link_to exercise.title, [@learning_object, exercise] %></td>
            <td><%= markdown exercise.enunciation %></td>
            <td><%= exercise.fractal_exercise.name %></td>
            <td class="list-actions">
              <ul>
                <li><%= link_to 'Visualizar', [@learning_object, exercise]  %></li>
                <% if can? :manage, Exercise %>
                  <li><%= link_to 'Editar', edit_learning_object_exercise_path(@learning_object, exercise) %></li>
                  <li><%= link_to 'Deletar', [@learning_object, exercise], confirm: 'Tem certeza?', method: :delete %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </article>

</section>
